@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
.navbar-inverse {
    background-color: black;
    margin-bottom: 10px;
}
/******************************All Pages*******************************/
#brand {
    color: #56AC20;
    font-size: 46px;
    font-family: 'Poiret One', cursive;
    line-height: 46px;
    margin-bottom: 10px;
}
#navMenu {
    line-height: 46px;
    margin-top: 15px;
    padding-right: 15px;
}
#navbar-collapse-3 {
    margin-left: 100px;
    margin-right: -100px;
    margin-top: 10px;
}
#navButtons {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: 800;
    
}
/*///////////////////////moving css parts///////////////////////////*/
#carrotLogo {
    height: 100px;
    float: right;
    margin-top: 75px;
    margin-bottom: 5px;
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    transition: .7s ease-in-out;    
}
#carrotJump {
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}
 #carrotLogo:hover {
    -webkit-transform: rotate(1440deg) scale(0);
    -moz-transform: rotate(1440deg) scale(0);
    -o-transform: rotate(1440deg) scale(0);
    -ms-transform: rotate(1440deg) scale(0);
    transform: rotate(1440deg) scale(0);
  }
#carrotJump:hover {
    -webkit-transform: translate(-95%,0px);
    -moz-transform: translate(-95%,0px);
    -o-transform: translate(-95%,0px);
    -ms-transform: translate(-95%,0px);
    transform: translate(-95%, 0px);

}

#pushingCarrot {
  margin-bottom: 150px;
}
.picRow{
  margin-top: 25px;

}

.number {
  margin-left: center;
  margin-bottom: 25px;
  vertical-align: center;
  text-align: center;
  
}
.number1 {
  transition: transform 1s; 
}
.number1:hover {
  transform: rotateY(360deg);
}
.number2 {
  transition: transform 1s; 
}
.number2:hover {
  transform: rotateX(360deg);
}
.number3 {
  transition: transform 1s; 
}
.number3:hover {
  transform: rotateY(360deg);
}

.instructions{
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

#instructions {
  display: inline;
  margin: auto;
  text-align: center;
}
.instructions {
  color: white;
}
#carrotRotate {
  height: 100px;
  float: right;
  margin-top: 75px;
  margin-bottom: 5px;
  transform-style: preserve-3d;
}

.rotate-y {
  animation: spinY 3s infinite linear;
}

@keyframes spinY {
  from { transform: rotateY(0); }
  to { transform: rotateY(360deg); }
}

/************************************************/
a {
   color: #CCC;
   text-decoration: none;
   
}
li {
    list-style-type: none;
}

body {    
   padding-top: 75px;
   background: black;
}

/******************************Get Recipes Stuff Home Page*******************************/

#recipeWrapper {
 /* border: 1px solid white;
  border-radius: 5px;*/
  margin: 41px 0px 42px 102px;
  /*background-color: #555;*/
}
#ingreed {
  margin: 20px 20px;
  color: #CCC;
  font-size: 1.2em;
  text-align: justify; 
  border: 1px solid white;
  border-radius: 5px;
  background-color: #555555;
}
#vengreed {
  position: absolute; 
  margin-top: 20px;
  color: #CCC;
  font-size: 1.2em;
  text-align: justify;
  height: 25%;
}
#vendorItems {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  float: left;
  margin-bottom: 25px;
  margin-top: 20px;
  background-color: #641511;
  padding-bottom: 25px;

}
.returnTitles{
  font-size: 1.6em;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 25px;

}
#thumbnail {
  height: 50%;
  width: 50%;
}
#userText {
  border-radius: 7px;
  background-color: white;
  margin-bottom: 3px;
}
#topOfList {
  color: white;
  font-family: 'Poiret One', cursive;
}
#ingredientsButton {
  margin: 10px 0px;
  background-color: #641511;
  color: #CCC;
  font-size: 1.3em;

}
#top {
    text-align: left;
    background: black;
    font-family: 'Poiret One', cursive;
    background-image: url("/images/farmLandScape.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100% 500px;
    height: 400px;
}

.secondStripe {
    background-color: #696969;
    height: 5px;
    margin-bottom: 0px;
}

#secondStripe {
    background-color: #696969;
    height: 5px;
    margin-bottom: 0px;
}
#searchButton {
    background-color: gray;
    margin-bottom: 180px;
}

/******************************Vendor Profile*******************************/
.mycolor {
           color : #72c02c ;
}        
.myborder{
   padding: 20px;;
   border: 1px solid #ccc;
   font-family: 'Poiret One', cursive;
   background-color: #641511;
   font-size: 18px;
   color: #CCC;
   border-radius: 4px;
   -webkit-box-shadow: 0px 0px 3px 0px #56AC20 ;
   -moz-box-shadow:    0px 0px 3px 0px #56AC20 ;
   box-shadow:         0px 0px 3px 0px #56AC20 ;
}
.mybutton {
    position: relative;
    left: 50%;
    top: 193px;
}
.margin-bottom-20 {
   margin-bottom: 20px;
}
.btn-u:hover {
   background: #5fb611 ;
}
.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
   background: #5fb611 ;
}
.btn-u:hover {
   color: #fff;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.btn-u {
   background: #56AC20;
}
.btn-u {
   white-space: nowrap;
   border: 0;
   color: #fff;
   font-size: 18px;
   cursor: pointer;
   font-weight: 400;
   padding: 6px 13px;
   position: relative;
   background: #56AC20;
   display: inline-block;
   text-decoration: none;
}
.input-group-addon {
   border-right: 0;
   font-size: 18px;
   background: #fff;
   padding: 6px 12px;
   font-size: 14px;
   font-weight: 400;
   line-height: 1;
   color: #555;
   text-align: center;
   background-color: #eee;
   border: 1px solid #ccc;
   border-radius: 4px;
}
.input-group .form-control {
   float: left;
   width: 100%;
   margin-bottom: 0;
}
.form-control {
   box-shadow: none;
}
.form-control {
   display: block;
   width: 100%;
   height: 34px !important;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.428571429;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid  #72c02c  !important;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.userInfo {
  margin: 20px 20px;
  background-color: black;
  color: #696969;
  align: right;
  border: none;
  text-align: left;
}

/**************************Vendor Form with all Vendors **********************/
#vendorTable {
  height: 25%;
  width: 100%;
  border: 5px solid white;
  border-radius: 5px;
  float: left;
  margin-bottom: 25px;
  margin-top: 20px;
  background-color: #641511;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  }
#farmStand {
  margin-top:30px;
  margin-left: 15px;
  height: 200px;
  width:200px;
}
#vendorDetails {
  margin-top: 20px;
  height: 200px;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

#vendorName {
  color: #CCC;
  text-decoration: underline;
  font-size: 1.4em;
  font-weight: bold;
}
#other {
  margin-bottom: 30px;
}

#produceDetails {
  margin-top: 30px;
  margin-left: 30px;
  height: 300px;
  width: 500px;
}
.produceColumns{
 margin-top: 20px;
 margin-right: 20px;
 margin-left: 20px;
 margin-bottom: 20px;
 height: 200px;
 text-align: left;
 color: #CCC;
 font-size: 1.2em;
 font-weight: bold;
}
#produceList{
  text-align: left;
  margin-right: 20px;
}

.badge-important { 
  background-color: #f89406; 
}



