<!DOCTYPE html>
<html>

  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="main.css">
      <link href='https://fonts.googleapis.com/css?family=Poiret+One|Comfortaa' rel='stylesheet'type='text/css'>
      <title>CrispR</title>
  </head>

  <body id="body">

<!--********************************************* Navbar concepts block ********************************************* -->

    <nav class="navbar navbar-inverse navbar-fixed-top animate">
      <nav class="navbar navbar-inverse">
        <div class="navbar-brand navbar-brand navbar-left" id="brand">Crisp&#1071</div>
        <div class="container">
          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div> <!-- navbar-header -->
      
          
          <div class="collapse navbar-collapse" id="navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right" id="navList">
              <li id="navButtons"><a href="/index">Home</a></li>
              <li id="navButtons"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Member Services<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                  <li id="navButtons"><a href="/signin">Sign In</a></li>
                  <li id="navButtons"><a href="#">Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div> 
        </div> <!-- container -->
      </nav> <!-- navbar navbar-inverse -->
    </nav> <!-- navbar navbar-inverse navbar-fixed-top animate -->

<!--********************************************* Navbar concepts block end ****************************************** -->


    <div class="row">
        <div class="col-md-12 panel" id="secondStripe">
        </div>
      </div>
  <br/>

  <div class="container">

    <div class="page-header text-center">
         <h1><span class="fa fa-anchor"></span> Profile Page</h1>
         <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<!--****** user info  *********** -->

    <div class="row">
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>
            <p>
              <strong>id</strong> 
              <strong>email</strong> 
              <strong>password</strong>
            </p>
        </div>
      </div>
    </div>
  </div>

<!--***************** External Scripts for JQuery, React, Bootstrap ***************************************** -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>

<!--********************************************* Local Scripts ********************************************* -->

    <script type="text/jsx" src="app.js"></script>

  </body>
</html>