<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/style/main.css">
      <link href='https://fonts.googleapis.com/css?family=Poiret+One|Comfortaa' rel='stylesheet'type='text/css'>

      <title>CrispR</title>
  </head>

  <body id="body">

  <!--********************************************* Navbar concepts block ********************************************* -->

    <nav class="navbar navbar-inverse navbar-fixed-top animate">
      <nav class="navbar navbar-inverse" id="navbarInverse">
        <div class="navbar-brand navbar-brand navbar-left" id="brand">Crisp&#1071</div>
          <div class="container">
        
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3" id="navbarButton">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div> <!-- navbar-header -->
    
          <div class="collapse navbar-collapse" id="navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right" id="navList" style="color: white;">
              <li id="navButtons"><a href="/">Home</a></li>
              <li id="navButtons"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Member Services<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                  <li id="navButtons"><a href="/login">Log In</a></li>
                  <li id="navButtons"><a href="/">Sign Out </a></li>
                </ul>
              </li> 
            </ul>
          </div> 
        </div> <!-- container -->
      </nav> <!-- navbar navbar-inverse -->
    </nav> <!-- navbar navbar-inverse navbar-fixed-top animate -->

<!--********************************************* Navbar concepts block end ****************************************** -->

      <div class="row">
           <div class="col-md-12 panel" id="secondStripe">
           </div>
      </div>


 <!-- ***************VENDOR INPUT STARTS HERE**************** -->

<div class="container-fluid">
    <h3 style="color: white;  font-family: 'Poiret One', cursive; font-size: 32px; text-align: center;">Farmer's Market Vendor Form</h3>

    <br/>
<div class="container">
   <div class="col-md-8"></div>
   <div class="col-md-10 col-md-offset-1">
        <div class="row myborder">
          <form action="/api/vendors" method="post">
            <h3 style="color: #56AC20; margin: initial; margin-bottom: 10px; font-size: 1.4em; font-weight: bold;">Enter Your Information and What Products You Offer!</h3><hr>
            <div class="col-md-6" style="margin-top: 15px;">
           <div class="input-group margin-bottom-20">
               <span class="input-group-addon"><i class="glyphicon glyphicon-home mycolor"></i></span>
               <input size="60" maxlength="255" class="form-control" placeholder="Vendor Name" name="vendorName" id="vendorsName" type="text">                                    </div>
            <div class="input-group margin-bottom-20">
               <span class="input-group-addon"><i class="glyphicon glyphicon-queen mycolor"></i></span>
               <input size="60" maxlength="255" class="form-control" placeholder="Contact First Name" name="contactFirstName" id="contactFirstName" type="text">                                    </div>
          <div class="input-group margin-bottom-20">
               <span class="input-group-addon"><i class="glyphicon glyphicon-king mycolor"></i></span>
               <input size="60" maxlength="255" class="form-control" placeholder="Contact Last Name" name="contactLastName" id="contactLastName" type="text">                                    </div>
           <div class="input-group margin-bottom-20">
               <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
               <input size="60" maxlength="255" class="form-control" placeholder="Location of Your Business (City, State)" name="address" id="address" type="text">                                                        
               </div>
          <div class="input-group margin-bottom-20">
               <span class="input-group-addon"><i class="glyphicon glyphicon-camera mycolor"></i></span>
               <input size="60" maxlength="255" class="form-control" placeholder="Enter your picture information." name="img" id="img" type="text">                                                        
               </div>
            
            </div>


            <!-- Vegetables-->
        <div class="col-md-2">
          <h4 style="color: #CCC; text-decoration: underline; font-size: 1.2em;">Vegetables</h4>
            <div>
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Artichoke"/> Artichoke</div>
            <div>
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Arugula"/> Arugula</div>
            <div>
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Carrots"/> Carrots</div>
            <div>   
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Cucumber"/> Cucumber</div>
            <div>
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Corn"/> Corn</div>
            <div>
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Green Beans"/> Green Beans</div>
            <div>
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Kale"/> Kale</div>
            <div>   
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Lettuce"/> Lettuce</div>
            <div>   
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Onions"/> Onions</div>
            <div>   
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Potatoes"/> Potatoes</div>
            <div>   
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Spinach"/> Spinach</div>
            <div>   
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Tomatoes"/> Tomatoes</div>
            <div>   
                <input type="checkbox" name="veggies[]" id="veggies" ref="veggieTypes" value="Zucchini"/> Zucchini</div>
        </div>
                <!-- Fruits-->
        <div class="col-md-2">
          <h4 style="color: #CCC; text-decoration: underline; font-size: 1.2em;">Fruit</h4>  
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Apple"/> Apple</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Avocados"/> Avocados</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Bananas"/> Bananas</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Blackberries"/> Blackberries</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Cherries"/> Cherries</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Kiwis"/> Kiwis</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Mangos"/> Mangos</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Melons"/> Melons</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Orange"/> Orange</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Peaches"/> Peaches</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Pears"/> Pears</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Strawberries"/> Strawberries</div>
            <div>
                <input type="checkbox" name="fruits[]" id="fruits" ref="fruitTypes" value="Watermelons"/> Watermelons</div>
        </div>
        <div class="col-md-2">
          <h4 style="color: #CCC; text-decoration: underline; font-size: 1.2em;">Meats</h4>

           
            <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Chicken"/> Chicken</div>
            
            <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Turkey"/> Turkey</div>
             <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Beef"/> Beef</div>
             <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Bison"/> Bison</div>  
             <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Elk"/> Elk</div> 
             <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Beef"/> Salmon</div>   
             <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Trout"/> Trout</div>
             <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Eggs"/> Eggs</div>
             <div>
                <input type="checkbox" name="meats[]" id="meats" ref="meatTypes" value="Snails"/> Snails</div>
              </div>
            
             <div>
             <div class="col-md-2">
             <h4 style="color: #CCC; text-decoration: underline; font-size: 1.2em;">Other</h4> 
             <div>
               <input size="50" maxlength="50" class="form-control" placeholder="" name="other" id="other" type="text">                                    </div>
             </div>

            <div>
            <div class="row" style="margin-top:10px;">
               <div class="col-md-12">
                   <button class="btn-u btn-lg btn-block pull-right" type="submit" 
                   style="margin-top: 15px; font-size: 24px; background-color: #56AC20">Submit</button>
               </div>
           </div>
            </div>
           
           
           
          </form>
       </div>
       <div class="col-md-2"></div>
   </div>
     </div>

<!-- ************************VENDOR LOGIN INFO *************************************-->

<div class="container-fluid">
  <div class="col-sm-4 col-sm-offset-1 userInfo" style="float: left;">
    <div class="well userInfo">
      <h4><span class="fa fa-user"></span>  You are logged in as:</h4>
        <p>
          <!-- <strong>id</strong>: <%= user._id %><br> -->
          <%= user.local.email %><br>
          <!-- <strong>password</strong>: --> <!-- <%= user.local.password %> -->
        </p>
    </div>
  </div>
</div>     

 

<!-- START FOOTER -->

  

 <footer>
    <div>
      <img id="carrotRotate" class="cube rotate-y" src="images/carrotLocation.jpg">
    </div>
  </footer>

<!--***************** External Scripts for JQuery, React, Bootstrap ***************************************** -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>

<!--********************************************* Local Scripts ********************************************* -->


  </body>
</html>


