<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="main.css">
      <link href='https://fonts.googleapis.com/css?family=Poiret+One|Comfortaa' rel='stylesheet'type='text/css'>

      <title>CrispR</title>
  </head>

  <body id="body">

  <!--********************************************* Navbar concepts block ********************************************* -->

    <nav class="navbar navbar-inverse navbar-fixed-top animate">
      <nav class="navbar navbar-inverse">
        <div class="navbar-brand navbar-brand navbar-left" id="brand">Crisp&#1071</div>
          <div class="container">
        
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div> <!-- navbar-header -->
    
          <div class="collapse navbar-collapse" id="navbar-collapse-3">
            <ul class="nav navbar-nav navbar-right" id="navList">
              <li id="navButtons"><a href="/">Home</a></li>
              <li id="navButtons"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Member Services<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                  <li id="navButtons"><a href="/login">Log In</a></li>
                  <li id="navButtons"><a href="#">Sign Out </a></li>
                </ul>
              </li> 
            </ul>
          </div> 
        </div> <!-- container -->
      </nav> <!-- navbar navbar-inverse -->
    </nav> <!-- navbar navbar-inverse navbar-fixed-top animate -->

<!--********************************************* Navbar concepts block end ****************************************** -->

      <div class="row">
           <div class="col-md-12 panel" id="secondStripe">
           </div>
      </div>


  <br/>
      <div class="container">
        <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="row myborder">
              <form action="/signup" method="post">
                <h4 style="color: #A3CE0C ; margin: initial; margin-bottom: 10px;">Sign Up Now</h4><hr>
                  <!-- <div class="input-group margin-bottom-20">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-queen mycolor"></i></span>
                     <input size="60" maxlength="255" class="form-control" placeholder="First Name" name="UserRegistration[fname]" id="UserRegistration_fname" type="text">                                    </div>
                  <div class="input-group margin-bottom-20">
                     <span class="input-group-addon"><i class="glyphicon glyphicon-king mycolor"></i></span>
                     <input size="60" maxlength="255" class="form-control" placeholder="Last Name" name="UserRegistration[lname]" id="UserRegistration_lname" type="text">                                    </div> -->
                <div class="input-group margin-bottom-20">
                   <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user mycolor"></i>
                   </span>
                    <input size="60" maxlength="255" class="form-control" placeholder="User Name" name="email" id="UserRegistration_username" type="text">   
                </div>

                <div class="input-group margin-bottom-20">
                   <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock mycolor"></i>
                   </span>
                    <input size="60" maxlength="255" class="form-control" placeholder="Password" name="password" id="UserRegistration_password" type="password">                                    
                </div>
           
           
              <div class="row">
                <div class="col-md-12">
                  <button class="btn-u pull-left" type="submit">Sign Up</button>
                </div> <!-- col-md-12 -->
              </div> <!-- row -->
            </form>  <!-- col-md-12 -->
          </div> <!-- row myborder -->
          <div class="col-md-2"></div>
        </div> <!-- col-md-6 -->
      </div> <!-- container -->

    <div id="foot">
      <div class="container-fluid"> 
        <div id="results" class="col-xs-10 col-xs-offset-2 col-md-4 col-md-offset-4">
        </div>
      </div>
    </div>

  <footer id="footer">
      <div>
          <nav class="navbar navbar-default fixed-bottom" id="footNav">
              <img id="pic" src="images/logo.png">
              <p>Posted by:</p>
          </nav>
      </div>
  </footer>

<!--***************** External Scripts for JQuery, React, Bootstrap ***************************************** -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.1.1/js/md5.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>

<!--********************************************* Local Scripts ********************************************* -->

    <script type="text/jsx" src="app.js"></script>
 

  </body>
</html>