@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
.navbar-inverse {
    background-color: black;
    margin-bottom: 10px;
}
#brand {
    color: #A3CE0C ;
    font-size: 46px;
    font-family: 'Poiret One', cursive;
    line-height: 46px;
    margin-bottom: 10px;
}
#thumbnail {
  height: 200px;
  width: 200px;
}
#panel {
  height: 300px;
  width: 400px;
  background: black; 
}
#panel-heading {
  background: #8B4513;
  color: white;
}
#panel-spacing {
  margin-bottom: 20px;
}
#searchBar {
  background-color: black;
  height: 200px;
  width: 600px;
  margin-left: 30%; 
  margin-top: 50px;
  border-radius: 10px;
  font-size: 12px;

}
#userText {
  border-radius: 7px;
  background-color: white;
}
#topOfList {
  color: white;
  font-family: 'Poiret One', cursive;
}
#navMenu {
    line-height: 46px;
    margin-top: 15px;
    padding-right: 15px;
}
#navbar-collapse-3 {
    margin-left: 100px;
    margin-right: -45px;
    margin-top: 10px;
}
#navButtons {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: 800;
    
}
#top {
    text-align: left;
    background: black;
    font-family: 'Poiret One', cursive;
    background-image: url("images/farmLandScape.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100% 500px;
    height:500px;
}

#secondStripe {
    background-color: #696969;
    height: 5px;
    margin-bottom: 0px;
}

#searchButton {
    margin: 15px 0 50px 0;
    background-color: gray;
}
#carrotLogo {
    height: 100px;
    float: right;
}

#footNav{
    background-color: black ;
    border-style: none;
}
a {
   color: #A3CE0C ;
   text-decoration: none;
   
}
li {
    list-style-type: none;
}

body {    
   padding-top: 75px;
   background: black;
}
.mycolor {
           color : #72c02c ;
}        
.myborder{
   padding: 20px;;
   border: 1px solid #ccc;
   font-family: 'Poiret One', cursive;
   font-size: 18px;
   color: #FFFFFF;
   border-radius: 4px;
   -webkit-box-shadow: 0px 0px 3px 0px #72c02c ;
   -moz-box-shadow:    0px 0px 3px 0px #72c02c ;
   box-shadow:         0px 0px 3px 0px #72c02c ;
}
.mybutton {
    position: relative;
    left: 50%;
    top: 193px;
}
.margin-bottom-20 {
   margin-bottom: 20px;
}
.btn-u:hover {
   background: #5fb611 ;
}
.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
   background: #5fb611 ;
}
.btn-u:hover {
   color: #fff;
   text-decoration: none;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.btn-u {
   background: #72c02c ;
}
.btn-u {
   white-space: nowrap;
   border: 0;
   color: #fff;
   font-size: 18px;
   cursor: pointer;
   font-weight: 400;
   padding: 6px 13px;
   position: relative;
   background: #72c02c ;
   display: inline-block;
   text-decoration: none;
}
.input-group-addon {
   border-right: 0;
   font-size: 18px;
   background: #fff;
   padding: 6px 12px;
   font-size: 14px;
   font-weight: 400;
   line-height: 1;
   color: #555;
   text-align: center;
   background-color: #eee;
   border: 1px solid #ccc;
   border-radius: 4px;
}
.input-group .form-control {
   float: left;
   width: 100%;
   margin-bottom: 0;
}
.form-control {
   box-shadow: none;
}
.form-control {
   display: block;
   width: 100%;
   height: 34px !important;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.428571429;
   color: #555;
   background-color: #fff;
   background-image: none;
   border: 1px solid  #72c02c  !important;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
   -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/************************Prfile Page**********************/
#userInfo {
  margin-top: 15px;
}
/**************************Vendor Form **********************/
#vendorTable {
  color: #FFFFFF;
 -webkit-box-shadow: 3px 2px 15px 19px rgba(61,10,61,0.61);
 -moz-box-shadow: 3px 2px 15px 19px rgba(61,10,61,0.61);
 box-shadow: 3px 2px 15px 19px rgba(61,10,61,0.61);

}
#panel-vendor{
 margin-top: 25px;
 margin-bottom: 25px;
 -webkit-box-shadow: 0px 0px 143px -39px rgba(88,214,81,1);
 -moz-box-shadow: 0px 0px 143px -39px rgba(88,214,81,1);
 box-shadow: 0px 0px 143px -39px rgba(88,214,81,1);
 height: 250px;

}
#vendor-heading {
 color: white;
 background: black;
 height: 250px;
}

#ingreed {
  color: white;
  height: 33px;
  float: right;
  position: absolute;
  font-size: 20px;


}
#ingreedPanel {
  background: black;
}

