
#top {
	text-align: left;
	background: #211A0D;
	font-family: 'Poiret One', cursive;

}
#top h1 {
	border-bottom: solid 5px brown;
	color: pink;
}


#searchButton {
	margin-top: 15px;
	margin-left: 117px;
	margin-bottom: 50px;
	text-align: center;


}
#yum{
	text-align: center;
}

#searchBar {
	background: lightblue;
	margin-left: 90px;


}
 
#pic {
	height: 100px;
	float: right;

}

#foot {
	background: #FFE7BA ;


	

	
}

#footer {
	max-height: 150px;
	background: #5B7F2F;

}