#body {
	background: #b89a60 ;
	
}

#top {
	text-align: left;
	background: #5B7F2F;
	font-family: 'Poiret One', cursive;
	padding: 0 0 0 15px;
	background-image: url("images/farmscape.png");
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 80% 200px;
	height:200px;
}
#top h1 {
	border-bottom: solid 5px #211A0D;
	font-size: 80px;
	color: #b89a60;
	height: 200px;
}

#pitchFork {
	margin: 15px auto;
	box-shadow: 5px 5px 5px #444;
}

#searchButton {
	margin-top: 15px;
	/*margin-left: 117px;*/
	margin-bottom: 50px;
	
}
li {
	list-style: none;
}



 
#pic {
	height: 100px;
	float: right;

}

#footer {
	max-height: 150px;
	background-color: #5B7F2F;

}

#footNav{
	background-color: #5B7F2F;
	border-style: none;
}